<footer id="footer" class="color color-primary mt-none pt-xlg pb-xlg">
    <div class="container">
      <div class="row pt-md pb-md">
        <div class="col-md-3 mb-none">
          <img alt="Porto" class="img-responsive logo mt-sm" style="max-width: 145px;" src="/assets/images/logo-medium.png">
        </div>
        <div class="col-md-3 mb-none">
          <div class="footer-info">
            <i class="icon-location-pin icons"></i>
            <label>Address</label>
            <strong>31 Orient Street, 2536 Batemans Bay, Australia</strong>
          </div>
        </div>
        <div class="col-md-2 mb-none">
          <div class="footer-info">
            <i class="icon-phone icons"></i>
            <label>Call Us</label>
            <strong>(02) 4472 6222</strong>
          </div>
        </div>
        <div class="col-md-4 mb-none">
          <div class="footer-info">
            <i class="icon-share icons"></i>
            <label>Follow Us</label>
            <ul class="social-icons">
                <li class="social-icons-instagram"><a href="https://www.instagram.com/marinerswaterfront/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i> <span>Instagram</span></a></li>
                <li class="social-icons-facebook"><a href="https://www.facebook.com/marinersbatemansbay/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>