<head>
  <!-- Basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">	

  <title>Mariners on the waterfront</title>	

  <meta name="keywords" content="HTML5 Template" />
  <meta name="description" content="Porto - Responsive HTML5 Template">
  <meta name="author" content="okler.net">

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Web Fonts  -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ "/assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/vendor/font-awesome/css/font-awesome.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/vendor/animate/animate.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/vendor/simple-line-icons/css/simple-line-icons.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/vendor/owl.carousel/assets/owl.carousel.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/vendor/owl.carousel/assets/owl.theme.default.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/vendor/magnific-popup/magnific-popup.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/vendor/bootstrap-datepicker/bootstrap-datepicker3.css" | relative_url }}">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/theme.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/theme-elements.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/theme-blog.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/theme-shop.css" | relative_url }}">

  <!-- Current Page CSS -->
  <link rel="stylesheet" href="{{ "/assets/vendor/rs-plugin/css/settings.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/vendor/rs-plugin/css/layers.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/vendor/rs-plugin/css/navigation.css" | relative_url }}">

  <!-- Skin CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/skin-hotel.css" | relative_url }}"> 

  <!-- Demo CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/demo-hotel.css" | relative_url }}">

  <!-- Theme Custom CSS -->
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">

  <!-- Head Libs -->
  <script src="{{ "/assets/vendor/modernizr/modernizr.min.js" | relative_url }}"></script>

</head>