<!-- Vendor -->
<script src="{{ "/assets/vendor/jquery/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/jquery.appear/jquery.appear.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/jquery.easing/jquery.easing.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/jquery-cookie/jquery-cookie.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/bootstrap/js/bootstrap.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/common/common.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/jquery.validation/jquery.validation.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/jquery.gmap/jquery.gmap.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/jquery.lazyload/jquery.lazyload.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/isotope/jquery.isotope.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/owl.carousel/owl.carousel.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/magnific-popup/jquery.magnific-popup.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/vide/vide.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js" | relative_url }}"></script>

<!-- Theme Base, Components and Settings -->
<script src="{{ "/assets/js/theme.js" | relative_url }}"></script>

<!-- Current Page Vendor and Views -->
<script src="{{ "/assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js" | relative_url }}"></script>

<!-- Demo -->
<script src="{{ "/assets/js/demo-hotel.js" | relative_url }}"></script>

<!-- Theme Custom -->
<script src="js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="{{ "/assets/js/theme.init.js" | relative_url }}"></script>
