<div class="header-top-custom">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-address">
          <i class="icon-location-pin icons text-color-primary"></i>
          <label>Address</label>
          <strong>31 Orient Street, 2536 Batemans Bay, Australia</strong>
        </div>
        <div class="col-sm-4 col-phone">
          <i class="icon-phone icons text-color-primary"></i>
          <label>call us</label>
          <strong>(02) 4472 6222</strong>
        </div>
        <div class="col-sm-3 col-share">
          <i class="icon-share icons text-color-primary"></i>
          <label>Follow Us</label>
          <ul class="social-icons">
            <li class="social-icons-instagram"><a href="https://www.instagram.com/marinerswaterfront/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i> <span>Instagram</span></a></li>
            <li class="social-icons-facebook"><a href="https://www.facebook.com/marinersbatemansbay/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>